Public class calc {

Public static void main(string[] args)
{
 Int num1=30;
Int num2=20;
Int addition=num1+num2;
Int subtraction =num1-num2;
Int multiplication=num1*num2;
Int division=num1/num2;
System.out.println(addition);
System.out.println(subtraction);
System.out.println(multiplication);
System.out.println(division);
}
} 
